****************************Level:EASY**************************

Q1:Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd.

In [1]:
def check(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            return a
        else:
            return b
    elif a<b:
        return b
    else:
        return a

In [2]:
check(3,3)

3

Q2:Write a function takes a two-word string and returns True if both words begin with same letter.

In [3]:
def word(a):
    a=a.lower().split()
    return (a[0][0]==a[1][0])

In [4]:
word("Bharat bhishkek")

True

In [5]:
a='bharat abhishek'

In [6]:
a=a.split()

In [7]:
a[1][0]

'a'

Q3: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False.

In [8]:
def sum(a,b):
    return a+b==20 or a==20 or b==20

In [9]:
sum(10,3)

False

******************************Level:1*************************

Q1: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

In [11]:
a='macdonald'

In [12]:
a

'macdonald'

In [13]:
def cap(a):
    if len(a)>3:
        return a[:3].capitalize() + a[3:].capitalize()
    else:
        return "too short"

In [14]:
cap(a)

'MacDonald'

Q2: Given a sentence, return a sentence with the words reversed
    ('I am home') --> 'home am I'

In [15]:
a="I am home"

In [16]:
a.split()[::-1]

['home', 'am', 'I']

Q3:Given an integer n, return True if n is within 10 of either 100 or 200
   (90) --> True
   (104) --> True
   (150) --> False

In [17]:
def almost(a):
    return (a>=100-10 and a<=100+10) or (a>=200-10 and a<=200+10)

In [18]:
almost(150)

False

*****************************Level 2*********************

Q1:Given a list of ints, return True if the array contains a 3 next to a 3        somewhere.
   ([1, 3, 3]) → True
   ([1, 3, 1, 3]) → False

In [19]:
def a(num):
    for i in range(0,len(num)-1):
        if num[i]==3 and num[i+1]==3:
            return True
    return False

In [20]:
a([1,2,3,3])

True

In [21]:
a([1, 3, 1, 3])

False

In [22]:
a([1, 3, 3])

True

Q2:Given a string, return a string where for every character in the original there are three characters
   ('Hello') --> 'HHHeeellllllooo'

In [23]:
a="bharat"

In [24]:
list(a)

['b', 'h', 'a', 'r', 'a', 't']

In [25]:
def fun(a):
    result=""
    for i in a:
        result=result+i*3
    return result

In [26]:
fun("hello")

'hhheeellllllooo'

In [27]:
fun('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

Q3:Given three integers between 1 and 11, if their sum is less than or equal to    21, return their sum. If their sum exceeds 21 and there's an eleven, reduce    the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21,    return 'BUST'
   (5,6,7) --> 18
   (9,9,9) --> 'BUST'

In [28]:
def bj(a,b,c):
    sum=a+b+c
    if sum<=21:
        return sum
    elif (sum>21 and (a==11 or b==11 or c==11)):
        if (sum-10)>21:
            return 'BUST'
        else:
            return sum-10

In [29]:
bj(5,6,7)

18

In [30]:
bj(11,11,11)

'BUST'

Q4:Return the sum of the numbers in the array, except ignore sections ofnumbers starting with a 6 and extending to the next 9      (every 6 will be followed by at least one 9). Return 0 for no numbers.
    ([1, 3, 5]) --> 9
    ([4, 5, 6, 7, 8, 9]) --> 9

In [33]:
def summ(arr):
    sum=0
    flag=True
    for num in arr:
        while flag:
            if num !=6:
                sum+=num
                break
            else:
                flag=False
        while not flag:
            if num !=9:
                break
            else:
                flag=True
                break
    return sum

In [34]:
summ([1,6,5,4])

1

In [35]:
summ([4, 5, 6, 7, 8, 9])

9

***********************************Level 3*****************************************************

Q1:Write a function that takes in a list of integers and returns True if it contains 007 in order
   ([1,2,4,0,0,7,5]) --> True
   ([1,0,2,4,0,5,7]) --> True
   ([1,7,2,0,4,5,0]) --> False

In [38]:
def spy(arr):
    flag=1
    GOT=0
    for num in arr:
        while(flag==1):
            if (num!=0):
                break
            else:
                flag=1
                break
        while(flag==1):
            if (num!=0):
                break
            else:
                flag=2
        while (flag==2):
            if num !=7:
                break
            else:
                GOT=1
                break
    return GOT==1

In [41]:
spy([1,0,2,4,0,5,7])

True

In [40]:
spy([1,7,2,0,4,5,0])

False

Q2: Write a function that returns the number of prime numbers that exist up to and including a given number
     (100) --> 25

In [57]:
def primes(num):
    prime=[2]
    x=3
    if num<2:
        return 0
    while(x<=num):
        for y in range(3,x,2):
            if x%y==0:
                x+=2
                break
        else:
            prime.append(x)
            x+=2
    print(prime)
    return len(prime)

In [59]:
primes(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

15